<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>instamojo</name>
	<displayName><![CDATA[Instamojo]]></displayName>
	<version><![CDATA[0.0.2]]></version>
	<description><![CDATA[Accept Payments using Instamojo]]></description>
	<author><![CDATA[Instamojo]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>